Repository LittleTealeaf/ddo-build-planner, changes with the labels that .github/labeler.yml gives for each.
All labels: app, builder, data, editor, utils, github

chore(github): Update dependencies weekly (#221)
  .github/dependabot.yml
Labels: github

Added function to open git repository
  Cargo.lock
  editor/Cargo.toml
  editor/build.rs
  editor/src/git.rs
  editor/src/main.rs
Labels: editor

added build script to get the current manifest directory
  editor/build.rs
Labels: editor

created general application
  Cargo.lock
  editor/Cargo.toml
  editor/src/crash.rs
  editor/src/git.rs
  editor/src/main.rs
  utils/Cargo.toml
  utils/src/iced/mod.rs
  utils/src/iced/traits.rs
  utils/src/lib.rs
Labels: editor, utils

renamed CrashMessage with just Message
  editor/src/crash.rs
  editor/src/main.rs
Labels: editor

removed structure name reptition
  editor/src/main.rs
Labels: editor

formatted
  utils/src/iced/traits.rs
Labels: utils

Move messages into message.rs (unsure if this is good or not)
  editor/src/components/crash.rs
  editor/src/main.rs
  editor/src/message.rs
Labels: editor

added check to see if remote is the original repository
  editor/src/libs/git.rs
Labels: editor

Reorganize sub-files and restructured git repo
  editor/src/components/crash.rs
  editor/src/components/mod.rs
  editor/src/git.rs
  editor/src/libs/git.rs
  editor/src/libs/mod.rs
  editor/src/main.rs
Labels: editor

Update use statement in main
  editor/src/main.rs
Labels: editor

DefaultBonuses returns iterators instead of vecs
  builder/src/attribute/mod.rs
  builder/src/attribute/traits.rs
  builder/src/attribute/types/ability.rs
  builder/src/attribute/types/armor_class.rs
  builder/src/attribute/types/saving_throw.rs
  builder/src/attribute/types/skill.rs
  builder/src/attribute/types/spell_power.rs
  builder/src/compiler/mod.rs
Labels: builder

Add documentation to DefaultBonuses
  builder/src/attribute/traits.rs
Labels: builder

perf(builder): Default Bonuses returns as iterators (#231)
  builder/src/attribute/mod.rs
  builder/src/attribute/traits.rs
  builder/src/attribute/types/ability.rs
  builder/src/attribute/types/armor_class.rs
  builder/src/attribute/types/saving_throw.rs
  builder/src/attribute/types/skill.rs
  builder/src/attribute/types/spell_power.rs
  builder/src/compiler/mod.rs
Labels: builder

Remove .collect for default bonuses
  builder/src/compiler/mod.rs
Labels: builder

Simplify insert_attributes
  builder/src/compiler/buffer.rs
  builder/src/compiler/inserting.rs
Labels: builder

Optimize removing sources to only remove unique
  builder/src/compiler/inserting.rs
Labels: builder

Fix typo in documentation
  builder/src/attribute/mod.rs
Labels: builder

Added some documentation and optimized some code
  builder/src/attribute/mod.rs
  builder/src/attribute/types/ability.rs
  builder/src/compiler/buffer.rs
  builder/src/compiler/inserting.rs
Labels: builder

Format
  builder/src/compiler/inserting.rs
Labels: builder

fix(builder): Various optimization and logic bugs with inserting bonuses into the compiler (#189)
  builder/src/attribute/mod.rs
  builder/src/attribute/types/ability.rs
  builder/src/bonus/source.rs
  builder/src/compiler/attribute_queue.rs
  builder/src/compiler/buffer.rs
  builder/src/compiler/inserting.rs
  builder/src/compiler/mod.rs
  builder/src/race/feats.rs
  builder/tests/compiler_bonuses_test.rs
Labels: builder

use chain macro instead of manually chaining
  builder/src/attribute/mod.rs
Labels: builder

Add skill to default bonuses
  builder/src/attribute/mod.rs
Labels: builder

chore(builder): Simplify get_default_bonuses (#235)
  builder/src/attribute/mod.rs
Labels: builder

Replaced Compiler::default() with Compiler::new()
  app/src/main.rs
  builder/src/compiler/calculation.rs
  builder/src/compiler/inserting.rs
  builder/src/compiler/mod.rs
  builder/tests/compiler_bonuses_test.rs
Labels: app, builder

added cargo-lock workflow
  .github/workflows/rust.yml
Labels: github

fix setup rust step
  .github/workflows/rust.yml
Labels: github

update steps wording
  .github/workflows/rust.yml
Labels: github

chore(github): Added cargo-lock file change action (#238)
  .github/workflows/rust.yml
Labels: github

.github/labeler.yml:

app:
- app/**

builder:
- builder/**

data:
- data/**

editor:
- editor/**

utils:
- utils/**

github:
- .github/**
